.header {
  background-image: linear-gradient(to right, purple, pink); }
  .header h1 {
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
    text-align: right;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .header img {
    position: relative;
    top: 5px;
    margin: 10px; }

.navbar {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  font-size: large;
  background-image: linear-gradient(pink, #a561a5); }
  .navbar ul {
    display: inline-block;
    margin: 5px;
    padding: 10px; }
  .navbar li {
    display: inline-flex;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    background-color: #f7cfd6; }
  .navbar:hover {
    background-color: #faa2b1;
    height: 50px; }

.bienvenida {
  text-align: justify;
  padding: 10px;
  background-image: linear-gradient(to right, purple, pink);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: xx-large; }

.red-twitter {
  color: #00acee; }

.red-instagram {
  color: #bc2a8d; }

.red-email {
  color: #4285F4; }

.button, .button-first {
  background-color: aqua;
  padding: 15px 20px; }

.consulta {
  height: 10px;
  width: 5px;
  padding: 25px; }
