
$alto: 400px;
$ancho: 400px;
$padding: 15px;
$base-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

.header{
    background-image: linear-gradient(to right, purple, pink);
     h1{
        display: inline-flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        margin: 10px;
        text-align: right;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    img{
        position: relative;
        top: 5px;
        margin: 10px;
    }
    
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    font-size: large;
    background-image: linear-gradient(pink,rgb(165, 97, 165));
    ul{
        display: inline-block;
        margin: 5px;
        padding: 10px;
    }
    li{
        display: inline-flex;
        list-style-type: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 5px;
        background-color: rgb(247, 207, 214);
    }
    &:hover{
        background-color: rgb(250, 162, 177);
    }
}

.bienvenida{
    text-align: justify;
    padding: 10px;
    background-image: linear-gradient(to right, purple, pink);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: italic;
    font-size:xx-large;
}

.presentacion{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgb(248, 193, 202);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-style: double;
    border-color: purple;
}

.carrousel{
    @extend .presentacion;
    background-image: url("../imagenes/background.png");
}

.about{
    @extend .presentacion;
}

h2{
    background-image: url("../imagenes/background.png");
}

h3{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 193, 202);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.gallery-container{
    padding: 50px;
    background-image: url("../imagenes/background.png");
    border-style: double;
    border-color: purple;
}

.img-thumbnail{
    border-style: double;
    border-color: purple;
}

.work{
    @extend .presentacion;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
}

.form-control {
    border-color: transparent transparent #f5529e transparent;
    background: transparent;
    outline: 0 !important
}

.form-control:focus {
    border-color: transparent transparent blue transparent;
    background: transparent;
    outline: 0 !important;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
}

.form-control {
    position: relative;
    display: inline-block;
    overflow: hidden
}

.form-control>input[type=text] {
    border: none;
    border-bottom: 3px solid red;
    outline: none
}

.underline-animation {
    transition: all 1s;
    display: inline-block;
    bottom: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f5529e
}

.form-control>input[type=text]:focus+.underline-animation {
    left: 0
}

.send-button {
    float: right
}

.send-button .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background-color: #f5529e;
    color: white;
    padding: 11px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14286em;
    transition-duration: 0.4s
}

.send-button .button:hover,
.form .button:focus,
.form .button:active {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1)
}

.send-button .button:active {
    position: relative;
    top: 1px;
    left: 1px
}

.foot{
    background-image: url("../imagenes/background.png");
    border-style: double;
    border-color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li{
        list-style-type: none;
    }
    &:hover{
        opacity: 0.9;
    }
}

//Mixin
@mixin size ($alto, $ancho, $padding) {
    height: $alto;
    width: $ancho;
    padding: $padding;
}

.consulta{
    @include size(200px, $ancho, $padding)
}

//Map
$font:(
    color: #666,
  family: (Arial, Helvetica),
  size: 16px,
  line-height: 1.4
);

.body {
    color: map-get($font, color);
    font-family: map-get($font, family);
  }