
$alto: 400px;
$ancho: 400px;
$padding: 15px;

.header{
    background-image: linear-gradient(to right, purple, pink);
     h1{
        display: inline-flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        margin: 10px;
        text-align: right;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    img{
        position: relative;
        top: 5px;
        margin: 10px;
    }
    
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    font-size: large;
    background-image: linear-gradient(pink,rgb(165, 97, 165));
    ul{
        display: inline-block;
        margin: 5px;
        padding: 10px;
    }
    li{
        display: inline-flex;
        list-style-type: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 5px;
        background-color: rgb(247, 207, 214);
    }
    &:hover{
        background-color: rgb(250, 162, 177);
    }
}

.bienvenida{
    text-align: justify;
    padding: 10px;
    background-image: linear-gradient(to right, purple, pink);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: italic;
    font-size:xx-large;
}

.presentacion{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgb(248, 193, 202);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-style: double;
    border-color: purple;
}

.carrousel{
    @extend .presentacion;
    background-image: url("../imagenes/background.png");
}

.about{
    @extend .presentacion;
}

h2{
    background-image: url("../imagenes/background.png");
}
.consulta{
    width: 300px;
    height: 500px;
}

h3{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 193, 202);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.gallery-container{
    padding: 100px;
    background-image: url("../imagenes/background.png");
    border-style: double;
    border-color: purple;
}

.img-thumbnail{
    border-style: double;
    border-color: purple;
}

.work{
    @extend .presentacion;
}

.consultas{
    @extend .presentacion;
}

.foot{
    background-image: url("../imagenes/background.png");
    border-style: double;
    border-color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li{
        list-style-type: none;
    }
    &:hover{
        opacity: 0.9;
    }
}

//Mixin
@mixin size ($alto, $ancho, $padding) {
    height: $alto;
    width: $ancho;
    padding: $padding;
}

.consulta{
    @include size(200px, $ancho, $padding)
}